@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    color: aliceblue;
    font-size: 16px;
}

.wrap {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.widget {
    width: 40%;
    margin: 2em;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.date {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 19em;
}

.watch {
    width: 456px;
    padding: 20px;
    font-size: 3em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}

.watch .seconds-box {
    display: inline-block;
}

.watch .seconds,
.watch .ampm {
    font-size: 1.3rem;
    display: block;
}